/* adjust typography defaults */
@font-face {
  font-family: "Terminal Grotesque";
  src: url("./fonts/terminal-grotesque-webfont.woff2") format("woff2"),
       url("./fonts/terminal-grotesque-webfont.woff") format("woff");
}    



body {
  margin: 1rem;
  font-family: sans-serif;
  background-color: black;
}

h1{
  color: #fd5c14;
  text-decoration: none;
  font-size: 4em;
  font-family: "Terminal Grotesque";
  line-height: 1.5em;
  margin-left: 5em;
}

p{
  color: white;
  width: 60%;
}

.text{
  display: flex;
  justify-content: center;
  justify-items: center;
}

