/* adjust typography defaults */
@font-face {
  font-family: "Terminal Grotesque";
  src: url("./fonts/terminal-grotesque-webfont.woff2") format("woff2"),
       url("./fonts/terminal-grotesque-webfont.woff") format("woff");
}    



body {
  margin: 1rem;
  font-family: sans-serif;
  background-color: #fd5c14;
}

h1{
  color: #00a306;
  text-decoration: none;
  font-size: 6em;
  font-family: "Terminal Grotesque";
  line-height: 1.5em;
  margin-left: 3em;
}

p{
  color: blue;
  font-family: "Terminal Grotesque";
  font-size: 2em;
  display: wrap;
}

img{
  margin-top: 2em;
  max-width: 20em;
}

.top-nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 1em;
  right: 1em;
  left: 1em;
  z-index: 100;
}

.bottom-nav{
  display: flex;
  justify-content: space-between;
  height: auto;
  position: fixed;
  bottom: 1em;
  right: 1em;
  left: 1em;
  z-index: 100;
}

a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Terminal Grotesque";
  line-height: 1.5em;
}

a:hover{
  color: #fe0bdc;
  text-decoration: underline;
}

