/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}


/* images and videos max out at full width */


body{
  background-image: url("assets/background.jpg");
  background-size: cover;
  margin: 0;
}

.index img{
  max-width: 100%;
  margin: 0;
  mix-blend-mode: normal;
}

.index img:hover{
  mix-blend-mode: exclusion;
}

.index, .link{
  cursor: url("assets/esc-button-02.png"), auto;
}
