/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.image-1 {
    width: 396px;
    height: 270px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -135px; 
    margin-left: -198px;
    z-index: 11;
}

.image-2 {
    width: 496px;
    height: 270px;
    position: absolute;
    top: 700px;
    left: 10% ;
    transform: rotate(349deg);
}

.image-3 {
    max-width: 900px;
    height: 270px;
    position: absolute;
    top: 270px;
    left: 30%;
    z-index: 12;
}

.image-4 {
    max-width: 800px;
    height: 270px;
    position: absolute;
    top: 2300px;
    left: 10%;
    transform: rotate(349deg);
    z-index: 12;
}

.image-5 {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 1800px;
    left: 10%;
    transform: rotate(10deg);
}

.image-6 {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 2000px;
    left: 65%;
    transform: rotate(340deg);
}

.image-7 {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 280px;
    left: 65%;
    transform: rotate(380deg);
}

.image-8 {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 1500px;
    left: 65%;
    transform: rotate(5deg);
}

.image-9 {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 2500px;
    left: 70%;
    transform: rotate(5deg);
}

