/* adjust typography defaults */
@font-face {
  font-family: "Terminal Grotesque";
  src: url("./fonts/terminal-grotesque-webfont.woff2") format("woff2"),
       url("./fonts/terminal-grotesque-webfont.woff") format("woff");
}    

@keyframes my-animation {
  0% { opacity: 1;
    display: block; }
  100% { 
    display: none;
    opacity: 0; } 
  }


body {
  font-family: sans-serif;
  background-color: #fd5c14;
}

/* .picker{
  position: fixed;
  top: 3em;
  left: 1em;
  z-index: 90;
} */

.top-nav p, .link{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Terminal Grotesque";
}

.instruction{
  width: 100%;
  margin: auto;
  height: 100%;
  z-index: 999;
}

.instruction p{
color: white;
text-decoration: none;
font-size: 1.5em;
font-family: "Terminal Grotesque";
width: 100%;
  text-align: center;
  z-index: 3000;
  position: fixed;
  margin: auto;
  opacity: 0;
  top:50%;
    -moz-animation: my-animation 10s  ;
    -webkit-animation: my-animation 10s  ;
    animation: my-animation 10s  ;
    animation-iteration-count: 1;
}

.button p{
  color: white;
  text-decoration: none;
  font-family: "Terminal Grotesque";
  margin: 0;
}

.button {
  background-color: transparent;
  border: none;
}

.modal-content a{
  text-decoration: none;
}

.top-nav p{
  margin: 0;
  margin-bottom: .5em;
}

.button p:hover, .link:hover{
  color: #fe0bdc;
  text-decoration: underline;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #00a306; /* Fallback color */
  background-color: rgba(0,163,6,0.4); /* Black w/ opacity */
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #fd5c14;
  border-radius: 10px;
  background-color: #00a306;
  width: 35%;
  font-family: 'Terminal Grotesque';
  font-size: 1.25em;
  color: white;
}

.modal-content p{
  margin: 1em;
}

.modal-content a button{
  text-decoration: none;
}

.modal-content button{
  font-family: 'Terminal Grotesque';
  font-size: 1.25em;
  width: auto;
  color: white;
  background-color: #00a306;
  border-radius: 10px;
  border: 1px solid #fd5c14;
  padding: 0;
  transform: scale(1);
  transition: .5s;
  display: flex;
  margin: auto;
  padding: .5em;
  text-decoration: none;
}

.modal-content button:hover{
  transform: scale(.95);
  background-color: #03a0f3;
  transition: .5s;
  cursor: url("assets/collage-logo-type-cursor.png"), auto;
}

.buttons{
  display: flex;
}

.signup{
  height: auto;
  display: block;
  position: relative;
}

/* The Close Button */
.close {
  color: #fd5c14;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #03a0f3;
  text-decoration: none;
  cursor: url("assets/collage-logo-type-cursor.png"), auto;
}

.index{
  padding: 6em;
  max-width: 98%;
}

img, video{
  mix-blend-mode: exclusion;
  transition: .5s;
}

img:hover, video:hover{
  mix-blend-mode: normal;
  transition: .5s;
}


.top-nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 1em;
  right: 1em;
  left: 1em;
  z-index: 100;
}

.bottom-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  position: fixed;
  bottom: 1em;
  right: 1em;
  left: 1em;
  z-index: 100;
}

.photogram img, video{
  cursor: url("assets/photogram-cursor.png"), auto;
}

.photogram-riso img, video{
  cursor: url("assets/photogram-riso-cursor.png"), auto;
}

.kroy-wen-riso img, video{
  cursor: url("assets/kroy-wen-riso-cursor.png"), auto;
}

.kroy-wen-riso-two img, video{
  cursor: url("assets/kroy-wen-riso-two-cursor.png"), auto;
}

.laser-cut-type img, video{
  cursor: url("assets/laser-cut-type-cursor.png"), auto;
}

.compositions img, video{
  cursor: url("assets/compositions-cursor.png"), auto;
}

.collage-logo-type img, video{
  cursor: url("assets/collage-logo-type-cursor.png"), auto;
}

.homepage-cideo img, video{
  cursor: url("assets/homepage-video-cursor.png"), auto;
}



.one{
  position: absolute;
  top: 2em;
  left: 10em;
  transform: rotate(10deg);
  max-width: 30em;
  z-index: 3;
}

.two{
  position: absolute;
  top: 7em;
  left: 55em;
  transform: rotate(-10deg);
  max-width: 17em;
  z-index: 4;
}

.three{
  position: absolute;
  top: 30em;
  left: 65em;
  transform: rotate(28deg);
  max-width: 18em;
}

.four{
  position: absolute;
  top: 50em;
  left: 2em;
  transform: rotate(-14deg);
  max-width: 14em;
  z-index: 8;
}

.five{
  position: absolute;
  top: 20em;
  left: 75em;
  transform: rotate(20deg);
  max-width: 15em;
  z-index: 7;
}

.six{
  position: absolute;
  top: 2em;
  left: 35em;
  transform: rotate(-8deg);
  max-width: 30em;
}

.seven{
  position: absolute;
  top: 30em;
  left: 90em;
  transform: rotate(-20deg);
  max-width: 20em;
  z-index: 5;
}

.eight{
  position: absolute;
  top: 23em;
  left: 28em;
  transform: rotate(5deg);
  max-width: 18em;
  z-index: 10;
}

.nine{
  position: absolute;
  top: 59em;
  left: 40em;
  transform: rotate(10deg);
  max-width: 20em;
  z-index: 4;
}

.ten{
  position: absolute;
  top: 63em;
  left: 55em;
  transform: rotate(-5deg);
  max-width: 30em;
}

.eleven{
  position: absolute;
  top: 35em;
  right: 15em;
  transform: rotate(-10deg);
  max-width: 15em;
}

.twelve{
  position: absolute;
  top: 20em;
  left: 5em;
  transform: rotate(-10deg);
  max-width: 28em;
  z-index: 2;
}

.thirteen{
  position: absolute;
  top: 60em;
  left: 23em;
  transform: rotate(5deg);
  max-width: 20em;
  z-index: 2;
}

.fourteen{
  position: absolute;
  top: 5em;
  left: 110em;
  transform: rotate(15deg);
  max-width: 25em;
  z-index: 7;
}

.fifteen{
  position: absolute;
  top: 5em;
  left: 65em;
  transform: rotate(5deg);
  max-width: 30em;
  z-index: 2;
}

.sixteen{
  position: absolute;
  top: 60em;
  left: 160em;
  transform: rotate(4deg);
  max-width: 20em;
  z-index: 9;
}

.seventeen{
  position: absolute;
  top: 30em;
  left: 130em;
  transform: rotate(4deg);
  max-width: 30em;
  z-index: 2;
}

.eighteen{
  position: absolute;
  top: 40em;
  left: 60em;
  transform: rotate(8deg);
  max-width: 18em;
  z-index: 2;
}

.nineteen{
  position: absolute;
  top: 25em;
  left: 45em;
  transform: rotate(6deg);
  max-width: 25em;
  z-index: 2;
}

.twenty{
  position: absolute;
  top: 40em;
  left: 16em;
  transform: rotate(-8deg);
  max-width: 50em;
  z-index: 2;
}

.twenty-one{
  position: absolute;
  top: 5em;
  left: 0;
  transform: rotate(8deg);
  max-width: 15em;
  z-index: 2;
}

.twenty-two{
  position: absolute;
  top: 0;
  left: 90em;
  transform: rotate(10deg);
  max-width: 25em;
  z-index: 1;
}

.twenty-three{
  position: absolute;
  top: 50em;
  right: 2em;
  transform: rotate(-8deg);
  max-width: 25em;
  z-index: 6;
}

.twenty-four{
  position: absolute;
  top: 20em;
  left: 110em;
  transform: rotate(14deg);
  max-width: 25em;
  z-index: 6;
}

.twenty-five{
  position: absolute;
  top: 40em;
  left: 0em;
  transform: rotate(4deg);
  max-width: 12em;
  z-index: 9;
}

.twenty-six{
  position: absolute;
  top: 65em;
  left: 2em;
  transform: rotate(-10deg);
  max-width: 25em;
  z-index: 6;
}

.twenty-seven{
  position: absolute;
  top: 0em;
  left:130em;
  transform: rotate(-7deg);
  max-width: 25em;
  z-index: 6;
}

.twenty-eight{
  position: absolute;
  top: 40em;
  left:105em;
  transform: rotate(10deg);
  max-width: 25em;
  z-index: 6;
}

.twenty-nine{
  position: absolute;
  top: 20em;
  left:200em;
  transform: rotate(-30deg);
  max-width: 25em;
  z-index: 6;
}

.thirty{
  position: absolute;
  top: 20em;
  left: 165em;
  transform: rotate(-5deg);
  max-width: 30em;
  z-index: 6;
}

.thirty-one{
  position: absolute;
  top: 2em;
  left: 150em;
  transform: rotate(8deg);
  max-width: 25em;
  z-index: 6;
}

.thirty-two{
  position: absolute;
  top: 15em;
  left: 155em;
  transform: rotate(-5deg);
  max-width: 20em;
  z-index: 6;
}

.thirty-three{
  position: absolute;
  top: 65em;
  left: 80em;
  transform: rotate(9deg);
  max-width: 25em;
  z-index: 6;
}

.thirty-four{
  position: absolute;
  top: 58em;
  left: 128em;
  transform: rotate(-90deg);
  max-width: 30em;
  z-index: 6;
}

.thirty-five{
  position: absolute;
  top: 40em;
  left: 178em;
  transform: rotate(-90deg);
  max-width: 30em;
  z-index: 6;
}

.thirty-six{
  position: absolute;
  top: 1em;
  left: 175em;
  transform: rotate(-10deg);
  max-width: 30em;
  z-index: 6;
}

.thirty-seven{
  position: absolute;
  top: 35em;
  left: 155em;
  transform: rotate(6deg);
  max-width: 40em;
  z-index: 1;
}

.thirty-eight{
  position: absolute;
  top: 63em;
  left: 100em;
  transform: rotate(-6deg);
  max-width: 35em;
  z-index: 1;
}

.thirty-nine{
  position: absolute;
  top: 63em;
  left: 180em;
  transform: rotate(6deg);
  max-width: 35em;
  z-index: 1;
}

.fourty{
  position: absolute;
  top: 50em;
  left: 200em;
  transform: rotate(90deg);
  max-width: 35em;
  z-index: 1;
}