@font-face {
  font-family: "Anthony";
  src: url("./fonts/Anthony.woff2") format("woff2"),
       url("./fonts/Anthony.woff") format("woff");
} 

#background-video {
  width: 100%;
  height: 5em;
  object-fit: cover;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  background-color: #03a0f3;
}

img, video{
  mix-blend-mode: exclusion;
}

img:hover, video:hover{
  mix-blend-mode: normal;
}

.top-nav p, .link{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Terminal Grotesque";
}

.button p{
  color: white;
  text-decoration: none;
  font-family: "Terminal Grotesque";
  margin: 0;
}

.button {
  background-color: transparent;
  border: none;
}

.top-nav p{
  margin: 0;
  margin-bottom: .5em;
}

.button p:hover, .link:hover{
  color: #fe0bdc;
  text-decoration: underline;
}


a:hover{
  color: #fd5c14;
  text-decoration: underline;
}

.top-nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 1em;
  right: 1em;
  left: 1em;
  z-index: 100;
}

.bottom-nav{
  display: flex;
  justify-content: space-between;
  height: auto;
  position: fixed;
  bottom: 1em;
  right: 1em;
  left: 1em;
  z-index: 100;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #00a306; /* Fallback color */
  background-color: rgba(0,163,6,0.4); /* Black w/ opacity */
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #fd5c14;
  border-radius: 10px;
  background-color: #00a306;
  width: 35%;
  font-family: 'Terminal Grotesque';
  font-size: 1.25em;
  color: white;
}

.modal-content p{
  margin: 1em;
}

/* The Close Button */
.close {
  color: #fd5c14;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #03a0f3;
  text-decoration: none;
  cursor: url("assets/collage-logo-type-cursor.png"), auto;
}

header {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  z-index: 1000;
  text-align: center;
  }

  
  h1{
    color: #fd5c14;
    text-decoration: none;
    font-size: 3em;
    font-family: 'Anthony', sans-serif;
  }

  .experiments{
  margin: auto;
  width: 100%;
  }

    .ten{
      background-image: url("assets/laser-cut-type-4.jpeg");
  width: 100%;
  height: 5em;
  mix-blend-mode: exclusion;
  padding: 1em;
    }
    
    .eleven{
  width: 100%;
  height: 5em;
  mix-blend-mode: exclusion;
  padding: 1em;
    }
    
    .three, .twelve{
      position: absolute;
      top: 30em;
      left: 45em;
      transform: rotate(28deg);
      max-width: 18em;
      z-index: 13;
    }
    
    .four, .thirteen{
      position: absolute;
      top: 40em;
      left: 10em;
      transform: rotate(-14deg);
      max-width: 25em;
      z-index: 8;
    }
    
    .five, .fourteen{
      position: absolute;
      top: 20em;
      left: 60em;
      transform: rotate(20deg);
      max-width: 30em;
      z-index: 7;
    }
    
    .six, .fifteen{
      position: absolute;
      top: 35em;
      left: 28em;
      transform: rotate(90deg);
      max-width: 30em;
    }
    
    .seven, .sixteen{
      position: absolute;
      top: 30em;
      left: 50em;
      transform: rotate(-7deg);
      max-width: 40em;
      z-index: 5;
    }
    
    .eight, .seventeen{
      position: absolute;
      top: 33em;
      left: 88em;
      transform: rotate(5deg);
      max-width: 18em;
      z-index: 10;
    }
    
    .nine,.eighteen{
      position: absolute;
      top: 45em;
      left: 80em;
      transform: rotate(10deg);
      max-width: 20em;
      z-index: 4;
    }
    
    